.logo-carousel2 {
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.logo-container2 {
  flex: 0 0 auto;
  margin: 0px; /* Adjust the margin between logos */

  /* Set different widths and heights for different images */
  width: 420px; /* Default width for images */
  height: 330px; /* Default height for images */

  /* Adjust width and height for specific images */
  &:nth-child(2) {
    width: 420px;
    height: 330px;
  }

  &:nth-child(3) {
    width: 420px;
    height: 330px;
  }

  /* Add more styles for other images as needed */
}

.logo-image2 {
  max-width: 100%; /* Ensure images don't exceed their container width */
  max-height: 100%; /* Ensure images don't exceed their container height */
}
.mil-p-90-60 {
  padding-top: 20px;
  padding-bottom: 20px;
}
@media screen and (max-width: 992px) {
  .mil-p-90-60 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 992px) {
  .mil-p-90-60 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.mil-partners-frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .mil-partners-frame {
    padding: 0;
  }
}
.mil-partners-frame a {
  width: 150px;
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  /* -webkit-filter: grayscale(100%); */
          /* filter: grayscale(100%); */
}
@media screen and (max-width: 1200px) {
  .mil-partners-frame a {
    width: 33.333%;
  }
}
@media screen and (max-width: 992px) {
  .mil-partners-frame a {
    width: 50%;
  }
}
.mil-partners-frame a img {
  position: relative;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
  width: 100%;
  cursor: pointer;
}
@media screen and (max-width: 1200px) {
  .mil-partners-frame a img {
    width: 160px;
  }
}
@media screen and (max-width: 768px) {
  .mil-partners-frame a img {
    width: 140px;
  }
}
.mil-partners-frame a:before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(50% - 15px);
  -webkit-transform: scale(0);
          transform: scale(0);
  border-radius: 50%;
  background-color: rgb(245, 124, 0);
  width: 30px;
  height: 30px;
  -webkit-transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
  transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
}
.mil-partners-frame img {
  /* filter: blur(0.5px);  */
  transition: filter 0.3s ease-in-out;
}

/* .mil-partners-frame img:hover {
  transform: scale(1.3);
} */
